// Set your brand colors
$main-color: oklch(44.3% 0.11 240.79);
$pink: oklch(95.1% 0.026 236.824);
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$text-color:white;





// Path to Bulma's sass folder
@use "bulma/sass/index" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $main-color,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none,



);





// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");