/* Error: This variable was not declared with !default in the @used module.
 *    ,
 * 22 |   $m-0: $button-width,
 *    |   ^^^^^^^^^^^^^^^^^^^
 *    '
 *   my-bulma-project.scss 22:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This variable was not declared with !default in the @used module.\a    \2577 \a 22 \2502    $m-0: $button-width,\d\a    \2502    ^^^^^^^^^^^^^^^^^^^\a    \2575 \a   my-bulma-project.scss 22:3  root stylesheet";
}
